.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {;
    background: url("images/bg-desktop.svg") no-repeat;
    background-size: 300px;
    display: flex;
}
